@import 'base.scss';

.send{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    
    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }

        .transfertitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .recepient{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
            &>*:not(:first-child) {
                border-left: 1px solid #BFBFBF55;
            }
            @media (max-width: 600px) {
                flex-direction: column;
                &>*:not(:first-child) {
                    border-left: 0;
                }
            }
            .address{
                flex: 7;
                display: flex;
                flex-direction: column;
                
                .inputValue{
                    font-size: 30px;
                    width: 90%;
                    @media (max-width: 600px) {
                        width: 100%;
                    }
                }
            }
            .amount{
                flex: 3;
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                @media (max-width: 600px) {
                    margin-top: 20px;
                    padding-left: 0;
                }

                .inputValue{
                    font-size: 30px;
                }
            }
        }
        .confirms{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 800px) {
                flex-direction: column;
            }
            
            .comment{
                flex: 7;
                display: flex;
                flex-direction: column;

                .inputValue{
                    font-size: 30px;
                    width: 90%;
                    @media (max-width: 750px) {
                        width: 100%;
                    }
                }
                
                .subcomment{
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(21, 20, 57, 0.4);
                    text-align: left;
                }
            }
            .confirm{
                flex: 3;
                display: flex;
                flex-direction: column;
                @media (max-width: 800px) {
                    align-items: center;
                }
                .fee{
                    display: flex;
                    flex-direction: row;
                    margin-top: 50px;
                    font-size: 20px;
                    @media (max-width: 1000px) {
                        font-size: 16px;
                    }

                    .feetitle{
                        font-weight: 500;
                        color: #686868;
                        margin-bottom: 30px;
                        margin-right: 5px;
                    }
                    .feevalue{
                        font-weight: 700;
                        color: #686868;
                    }
                }
            }
        }
    }
    
}