@import 'styles';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 15px;
  border: 1px dotted;
  border-radius: 20px;
  margin: 0 15px;
  padding: 20px;

  @media (max-width: $mobileClose) {
    flex-direction: row;
    justify-content: center;
    margin: 15px 0;
  }

  .coin {
    font-weight: bold;
  }
  .description {
    @media (max-width: $mobileClose) {
      margin: 0 5px;
    }
  }
  .price {

  }
}