@import "styles";

.main {
  border-bottom: solid 1px ;
  border-radius: 5px 0 0 5px;
  .menuButton {
    width: 230px;
    height: 35px;
    text-align: right;
    justify-content: flex-end;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 10px;
  }
  .inactive {
    &:not(:hover) {
      background-color: transparent !important;
    }
  }
  .subinactive {
    &:not(:hover) {
      background-color: #f7f7f7 !important;
    }
  }
  .active {
    color: white !important;
    padding-right: 15px;
  }
}