@import 'base.scss';

.modal{
    box-shadow: 0px 30px 20.0752px rgba(0, 4, 81, 0.2);
    border-radius: 90.782px;
    border-radius: 30px;
    overflow: hidden;
    @media(max-width: 600px){
        margin: 0 20px;
    }
}
.modalHeader{
    @media(max-width: 600px){
        font-size: 24px;
    }
}
.modal-dialog{
    box-shadow: 0px 30px 20.0752px rgba(0, 4, 81, 0.2);
    border-radius: 90.782px;
    
}
.header{
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    color: #1E0E62;
}