@import 'styles';
.tx {
  margin: 15px 0;
  .transaction {
    display: flex;
    flex-direction: row;

    width: 100%;

    @media(max-width: $mobileClose) {
      flex-direction: column;
    }
    .main {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 10px 0;
      position: relative;

      .arrow {
        font-size: 22px;
        margin: 0 15px;
      }
      .info {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex: 1;
        word-break: break-all;
        .timestamp {
          font-size: 12px;
        }
        .reference {
          font-size: 14px;
          margin: 5px 0;
        }
        .txid {
          font-size: 12px;
        }
      }
      .actions {
        position: absolute;
        right: 0;
        top: 10px;
        display: flex;
        .action {
          font-size: 14px;
          margin-right: 10px;
          cursor: pointer;
        }
        .status {
          background-color: red;
          color: white;
          font-size: 10px;
          margin-right: 10px;
          padding: 0 5px;
        }
      }
    }
    .extra {
      margin-left: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width: $mobileClose) {
        margin: 0;
        padding-bottom: 5px;
      }
      .envelope {
        margin: 0 15px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}