@import 'base.scss';

.file{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 90%;
            margin: 0 20px;
        }

        .certifyTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .dropzone{
            border: 1px solid #BFBFBF;
            box-sizing: border-box;
            border-radius: 16.8116px;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            cursor: pointer;
            @media (max-width: 900px) {
                height: 200px;
            }

            .upload{
                font-size: 25px;
                font-weight: 500;
                color: #262626;
                width: 100%;
                @media (max-width: 600px) {
                    font-size: 20px;
                }
            }
            .uploadComment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
        .hasharea{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 50px;
            margin-bottom: 20px;
            @media (max-width: 900px) {
                flex-direction: column;
            }

            .reference{
                flex: 5;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                @media (max-width: 900px) {
                    padding:0;
                }
                
                .inputTitle{
                    font-size: 18px;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 0;
                    color: rgba(21, 20, 57, 0.4);
                    @media (max-width: 1100px) {
                        flex-direction: column;
                    }

                    .inputTitleSm{
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
                .inputValue{
                    font-size: 18px;
                    font-weight: 500;
                }
            }
            .hash{
                flex: 5;
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                @media (max-width: 900px) {
                    padding:0;
                    margin-top: 10px;
                }

                .inputTitle{
                    font-size: 18px;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    margin-bottom: 0;
                    color: rgba(21, 20, 57, 0.4);
                    @media (max-width: 1100px) {
                        flex-direction: column;
                    }
                    .inputTitleSm{
                        padding-left: 5px;
                        font-size: 12px;
                    }
                }
                .inputValue{
                    font-size: 18px;
                    font-weight: 500;
                }
                .checkbox{
                    margin-top: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    color: rgba(21, 20, 57, 0.4);
                    .checkcomment{
                        @media (max-width: 900px) {
                            padding:0;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .feearea{
            display: flex;
            flex-direction: row;
            margin-top: 80px;
            justify-content: center;
            @media (max-width: 650px) {
                flex-direction: column;
                margin-top: 30px;
            }

            .certification{
                display: flex;
                flex-direction: row;
                align-items: right;
                place-content: flex-end;
                margin-right: 50px;
                @media (max-width: 650px) {
                    margin-right: 0;
                    justify-content: center;
                }
                @media (max-width: 300px) {
                    justify-content: left;
                }

            }
            .transaction{
                display: flex;
                flex-direction: row;
                @media (max-width: 650px) {
                    justify-content: center;
                }
                @media (max-width: 300px) {
                    justify-content: left;
                }
            }
        }
        .confirmarea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            @media (max-width: 650px) {
                margin-top: 20px;
            }

            .button{
                width: 350px;
                margin-bottom: 10px;
                @media (max-width: 650px) {
                    width: 200px;
                }
                @media (max-width: 250px) {
                    width: 160px;
                }
            }
            .subcomment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
    }
}
.feeTitle{
    font-size: 18px;
    font-weight: 500;
    color:#686868;
    @media (max-width: 300px) {
        font-size: 14px;

    }
}
.fee{
    font-size: 18px;
    font-weight: 700;
    color:#686868;
    padding-left: 5px;
    @media (max-width: 300px) {
        font-size: 14px;
    }
}