@import 'base.scss';

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  .header {
    font-size: 18px;
    font-weight: 700;
    color: #000451;
    margin-bottom: 40px;
  }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1128px;
    margin-bottom: 100px;

    @media (max-width: $drawOpenMaxWidth) {
      flex-direction: column;
      align-items: center;
    }
  }
}