@import 'base.scss';

.auctionCell{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 6.2592px 6.2592px rgba(0, 0, 0, 0.2);
    border-radius: 5.63328px;
    justify-content: flex-start;
    margin: 0 5px;

    .title{
        font-size: 9px;
        font-weight: 500;
        color: rgba(21, 20, 57, 0.4);
        margin-top: 10px;
        text-align: left;
        margin-left: 30px;
    }
    .clientName {
        font-size: 14px;
        font-weight: 600;
        color: #1E0E62;
        text-align: left;
        margin-left: 30px;
    }
    .photo{
        padding: 5px;
        .img{
          height: 300px;
        }
    }
    .bidarea{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        margin-left: 24px;
        margin-right: 16px;
        
        .startPrice {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          .value{
            font-size: 12px;
            font-weight: 700;
            text-align: left;
          }
          .starttitle{
            font-size: 10px;
            font-weight: 500;
            text-align: left;
          }
        }

        .button{
            font-size: 12px;
            font-weight: 500;
            color: #1E0E62;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}