@import 'styles';

.balances {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;

  @media (max-width: $mobileClose) {
    display: none;
  }

  .balance {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 15px;
    font-size: 14px;
    .title {
      font-weight: bold;
    }
    .amount {
      display: flex;
      align-items: center;
      .krosscoinIcon {
        margin-right: 5px;
      }
      .wavesIcon {
        width: 8px;
        height: 8px;
        margin-right: 5px;
        background-color: #1f5af6;
        transform: rotate(-45deg);
      }
    }
  }
}