@import "styles";

.wrapper {
  max-width: 1000px;
  padding: 10px 30px;

  .item {
    margin: 20px 0;
    justify-content: center;

    @media (max-width: $mobileClose) {
      flex-direction: column;
    }
    .input {
      margin: 0 0 10px 0;
      @media (min-width: $desktopOpen) {
        margin: 0 10px 0 0;
        width: 150px;
      }
    }
    .text {
      margin: 0 5px;
      @media (max-width: $mobileClose) {
        margin: 5px 0;
      }
    }
    .button {
      margin: 10px 0 0 0;
      @media (min-width: $desktopOpen) {
        margin: 0 0 0 10px;
        width: 150px;
      }
    }
  }
}