@import 'base.scss';

.container{
  display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16.8116px;
    margin: 0 5px;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-width: 1000px;

    @media (max-width: 600px){
        width: calc(100% - 30px);
        margin-top: 20px;
    }
    .CarouselArea{
        display: flex;
        flex-direction: column;
        width: 100%;
        .header{
          display: flex;
          flex-direction: column;
          max-width: 1000px;
          width: 100%;
          .titleBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .title{
              font-size: 18px;
              font-weight: 500;
              color: #000451;
              text-align: left;
              margin-left: 40px;
              margin-bottom: 10px;
              @media (max-width:$mobileWidth){
                font-size: 12px;
                margin-bottom: 15px;
                margin-top: 20px;
              }
            }
            .view {
              font-size: 17.2px;
              font-weight: 500;
              margin-right: 40px;
              color: rgba(0, 4, 81, 0.7);
            }
          }
          .line{
              border: 1px solid rgba(0, 0, 0, 0.8);
              margin-left: 40px;
              margin-right: 40px;
              margin-bottom: 20px;
          }
        }
        .mainCarousel{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          .leftIcon{
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-right: 10px;
            @media(max-width: $mobileWidth){
                margin-bottom: 40px;
            }
          }
          .rightIcon{
            align-items: center;
            cursor: pointer;
            margin-left: 10px;
            @media(max-width: $mobileWidth){
              margin-bottom: 40px;
            }
          }
        }
    }
}

