@import 'base.scss';

.fileCertification{
    display: flex;
    flex-direction: row;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16.8116px;
    margin: 0 5px;
    height: 220px;
    margin-top: 0;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    @media (max-width: 1000px){
        width: calc(100% - 100px);
        margin: 0;
    }
    @media (max-width: 800px){
        width: calc(100% - 100px);
        margin: 0;
    }
    @media (max-width: 600px){
        width: calc(100% - 30px);
        margin: 0;
        height: 250px;
    }
    @media (max-width: 450px) {
        height: 300px;
    }
    @media (max-width: 350px) {
        height: 320px;
    }
    .CarouselArea{
      display: flex;
      flex-direction: column;
      width: 100%;
      .header{
          display: flex;
          flex-direction: column;
          max-width: 1000px;
          width: 100%;
          .titleBar {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .title{
              font-size: 18px;
              font-weight: 500;
              color: #000451;
              text-align: left;
              margin-left: 40px;
              margin-bottom: 10px;
              @media (max-width:600px){
                  margin-bottom: 10px;
                  font-size: 14px;
                }
            }
            .view {
              font-size: 17.2px;
              font-weight: 500;
              margin-right: 40px;
              color: rgba(0, 4, 81, 0.7);
              @media (max-width:600px){
                font-size: 13px;
              }
            }
          }
          .line{
              border: 1px solid rgba(0, 0, 0, 0.8);
              margin-left: 40px;
              margin-right: 40px;
              margin-bottom: 20px;
          }
      }
      .mainCarousel{
          display: flex;
          flex-direction: row;
          width: 100%;
          align-items: center;
          justify-content: center;
          .leftIcon{
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding-right: 0.7rem;
          }
          .rightIcon{
            align-items: center;
            cursor: pointer;
            margin-left: 0.7rem;
          }
      }
    }
}
