@import 'base.scss';

.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 15px;
    @media (max-width: $drawOpenMaxWidth) {
        width: 90%;
    }

    .titlearea{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .explorerTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .viewTitle{
            font-size: 17px;
            font-weight: 500;
            color: rgba(0, 4, 81, 0.7);
        }
    }
    .border{
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }

}
.leftIcon{
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    cursor: pointer;
}
.rightIcon{
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}





