@import 'base.scss';

.container{
    margin: 0 15px;
    flex: 1;
    width: calc(100% - 190px);
    max-width: 1200px;
    @media (max-width: 600px){
        margin-bottom: 20px;
    }

    .titlearea{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .explorerTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
            @media (max-width: 600px){
                font-size: 20px;
            }
        }
        .viewTitle{
            font-size: 17px;
            font-weight: 500;
            color: rgba(0, 4, 81, 0.7);
        }
    }
    .border{
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }

}
.leftIcon{
    align-items: center;
    justify-content: center;
    margin: 60px 20px 0 20px;
    cursor: pointer;
}
.rightIcon{
    align-items: center;
    margin: 60px 20px 0 20px;
    cursor: pointer;
}





