@import 'base.scss';

.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }
        .nftType{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 30px;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 60px;
            .enabledNFT{
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                color: #000451;
                border: 1px solid #FE006C;
                border-radius: 10px;
                padding: 10px 30px;
                margin: 0 5px;
                cursor: pointer;
            }
        }
        .certifyTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .dropzone{
            border: 1px solid #BFBFBF;
            box-sizing: border-box;
            border-radius: 16.8116px;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            cursor: pointer;
            @media (max-width: 900px) {
                height: 200px;
            }

            .upload{
                font-size: 25px;
                font-weight: 500;
                color: #262626;
                @media (max-width: 600px) {
                    font-size: 18px;
                    padding: 0 10px;
                }
            }
            .uploadComment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
        .datasarea{
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            justify-content: space-between;
            @media (max-width: 600px){
                flex-direction: column;
            }

            .assetData{
                flex:3.5;
                display: flex;
                flex-direction: column;
                
                .inputarea{
                    margin-right: 20px;
                    @media (max-width: 600px){
                        margin-right: 0;
                    }
                }
                .messagezone{
                    border-top: 1px solid rgba(0,0,0,0);
                    border-bottom: 1px solid #BFBFBF;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                    height: 130px;
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .assetIds{
                flex: 3.5;
                display: flex;
                flex-direction: column;
                
                .inputarea{
                   margin-right: 20px;
                    @media (max-width: 600px){
                        margin-right: 20px;
                    }
                    .question {
                        color: white;
                        font-size: 10px;
                        border-radius: 7px;
                        height: 14px;
                        font-weight: bold;
                        cursor: pointer;
                        margin: 3px 0px 0px 10px;
                        padding: 0 5px;
                      }
                }
                
            }
            .auctionDatas{
                flex: 3;
                display: flex;
                flex-direction: column;
            }
        }
        .feearea{
            display: flex;
            flex-direction: row;
            margin-top: 80px;
            justify-content: center;
            @media (max-width:550px) {
                flex-direction: column;
            }

            .certification{
                flex:5;
                display: flex;
                flex-direction: row;
                align-items: right;
                place-content: flex-end;
                margin-right: 50px;
                @media (max-width:600px) {
                    margin-right: 20px;
                }
                @media (max-width:550px) {
                    justify-content: center;
                }
            }
            .transaction{
                flex:5;
                display: flex;
                flex-direction: row;
                @media (max-width:550px) {
                    justify-content: center;
                }
            }
        }
        .confirmarea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            .button{
                width: 350px;
                margin-bottom: 10px;
                @media (max-width:550px) {
                    width: 80%;
                }
            }
            .subcomment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
    }
    .inputarea{
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .inputTitle{
            font-size: 18px;
            font-weight: 500;
            color: rgba(21, 20, 57, 0.4);
            margin-bottom: 0;
        }
        .inputValue{
            font-size: 18px;
            font-weight: 500;
            color: #151439;
        }
    }
}
.feeTitle{
    font-size: 18px;
    font-weight: 500;
    color:#686868;
    @media (max-width: 600px) {
        font-size: 16px;
    }
}
.fee{
    font-size: 18px;
    font-weight: 700;
    color:#686868;
    padding-left: 5px;
    @media (max-width: 600px) {
        font-size: 16px;
    }
}