@import 'base.scss';

.transaction{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16.8116px;
    max-width: 1000px;
    width: 100%;
    margin: 0 15px;
    height: 220px;
    margin-top: 50px;
    @media (max-width:$drawOpenMaxWidth){
        margin: 0 30px;
        margin-top: 30px;
    }
    @media (max-width:650px){
        height: 260px;
    }
    @media (max-width:400px){
        height: 300px;
    }

    .title{
        font-size: 18px;
        font-weight: 500;
        color: #000451;
        margin-top: 30px;
        text-align: left;
        margin-left: 40px;
        margin-bottom: 20px;
        @media (max-width:600px){
            margin-bottom: 15px;
        }
    }
    .line{
        border: 1px solid rgba(0, 0, 0, 0.8);
        margin-left: 40px;
        margin-right: 40px;
    }
    .dataarea{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 30px;
        margin-left: 40px;
        margin-right: 40px;

        .img{
            flex: 1;
            align-items: flex-start;
            width: 30px;
            height: 30px;
        }
        .data{
            flex:8;
            align-items: flex-start;
            text-align: left;
            margin-left: 30px;
            color: #000451;
            font-size: 15px;
            font-weight: 500;
            @media (max-width:600px){
                flex:6;
                word-break: break-all;
            }

        }
        .price{
            flex:1;
            font-size: 17px;
            font-weight: 500;
            color: #000451;
            @media (max-width:600px){
                font-size: 12px;
            }
        }
    }
}