@import 'styles';

.transaction {
  display: flex;
  flex-direction: row;

  width: 100%;
  margin: 15px 0;

  @media(max-width: $mobileClose) {
    flex-direction: column;
  }
  .main {
    flex:7;
    .arrow {
      font-size: 14px;
    }
    .info {
      font-size: 14px;
      .timestamp {
        font-size: 14px;
      }
      .address {
        font-size: 14px;
      }
      .txid {
        font-size: 14px;
      }
    }
  }
  .amount {
    flex: 3;
    margin-left: 5px;
    @media(max-width: $mobileClose) {
      margin: 0;
    }
  }
}