@import 'styles';
.tx {
  margin: 15px 0;
  .transaction {
    display: flex;
    flex-direction: row;

    width: 100%;

    @media(max-width: $mobileClose) {
      flex-direction: column;
    }
    .main {
      flex:7;
      display: flex;
      align-items: center;
      padding: 10px 0;

      .arrow {
        font-size: 22px;
        margin: 0 15px;
      }
      .info {
        text-align: left;
        display: flex;
        flex-direction: column;
        flex: 1;
        .timestamp {
          font-size: 10px;
        }
        .address {
          font-size: 12px;
          margin: 5px 0;
        }
        .txid {
          font-size: 10px;
        }
      }
    }
    .extra {
      flex: 3;
      margin-left: 5px;
      display: flex;
      flex-direction: row;
      @media(max-width: $mobileClose) {
        margin: 0;
        flex-direction: column;
      }
      .amount {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
      }
      .attachment {
        height: 100%;
        margin-left: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: $mobileClose) {
          margin: 0;
        }
        .envelope {
          margin: 0 15px;
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .message {
    margin-top: 5px;
    padding: 10px 15px;
    text-align: left;
    font-size: 14px;
  }
}