@import 'base.scss';

.modalArea{
  display: flex;
  flex-direction: row;
  border-radius: 14px;
  @media(max-width: 600px){
    flex-direction: column;
    margin-top: 10px;
  }
  .imageArea{
    flex:5;
    .image{
      padding: 20px;
      border-radius: 30px;
      width: 500px;
      height: 600px;
      @media(max-width: 600px){
        height: 320px;
        width: 100%;
        padding: 0px;
        border-radius:4.06px;
      }
    }
  }
  .dataArea{
    flex: 5;
    width:100%;
    background: #FFFFFF;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.15);
    border-radius: 16.8116px;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    @media(max-width: 600px){
      padding-bottom: 20px;
    }
    .closeButton{
      position:absolute;
      right: 20px;
      top: 20px;
      display: flex;
      @media(max-width: 600px){
        right: 25px;
        top: 35px
      }
      .icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: #000451;
        @media(max-width: 600px){
          display: none;
        }
      }
      .iconMob{
        @media(min-width: 600px){
          display: none;
        }
        width: 30px;
        height: 30px;
        cursor: pointer;
        color: #C8C6C7;
      }
    }
    .assetArea{
      display: flex;
      flex-direction: row;
      margin-top: 50px;
      .assetDataArea{
        flex:5;
        display: flex;
        flex-direction: column;
        margin: 20px;
        @media(max-width: 600px){
          margin-right: 15px;
        }
        .nameArea{
          display: flex;
          flex-direction: column;
          margin-bottom: 30px;
          @media(max-width: 600px){
            margin-bottom: 15px;
          }
          .title{
            margin-bottom: 0;
          }
          .value{
            @media(max-width: 600px){
              font-size: 11px;
            }
          }
        }
        .aboutArea{
          display: flex;
          flex-direction: column;
          height: 100px;
          margin-bottom: 30px;
          word-break: break-all;
          @media(max-width: 600px){
            margin-bottom: 10px;
            height: 80px;
          }
          .about{
            font-size: 12px;
            font-weight: 500;
            text-align: justify;
            color: #000451;
            @media(max-width: 600px){
              font-size: 7px;
            }
          }
        }
        .priceArea{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .minPriceArea{
            display: flex;
            flex-direction: column;
            .title{
              color:rgba(21, 20, 57, 0.4);
              font-size: 12px;
              font-weight: bold;
              @media(max-width: 600px){
                font-size: 7px;
              }
            }
            .value{
              @media(max-width: 600px){
                font-size: 11px;
              }
            }
          }
          .currentBidArea{
            .value{
              @media(max-width: 600px){
                font-size: 11px;
              }
            }
          }
        }
        .typeArea{
          display: flex;
          flex-direction: row;
          margin-top: 10px;
          justify-content: space-between;
          border: 1px solid #FE006C;
          box-sizing: border-box;
          border-radius: 10px;
          height: 35px;
          align-items: center;
          @media(max-width: 600px){
            height: 20px;
            border-radius: 5px;
            margin-top: 17px;
          }
          .enabledNFT{
              text-align: center;
              font-size: 12px;
              font-weight: 500;
              color: #000451;
              padding: 2px;
              margin: 0 5px;
              @media(max-width: 600px){
                font-size: 7px;
              }
          }
        }
      }
      .assetIdArea{
        flex:5;
        display: flex;
        flex-direction: column;
        margin:20px;
        @media(max-width: 600px){
          margin-left: 15px;
        }
        .idArea{
          display: flex;
          flex-direction: column;
          margin-bottom: 20px;
          @media(max-width: 600px){
            margin-bottom: 15px;
          }
          .question {
            color: white;
            font-size: 10px;
            border-radius: 7px;
            height: 14px;
            font-weight: bold;
            cursor: pointer;
            margin: 0px 0px 0px 10px;
            padding: 0 5px;
          }
          .idInput{
            word-wrap: break-word;
            word-break: break-all;
            color:#151439;
            font-size: 12px;
            font-weight: 500;
            text-align: justify;
            @media(max-width: 600px){
              font-size: 7px;
            }
          }
          .value{
            @media(max-width: 600px){
              font-size: 11px;
            }
          }
        }
      }
    }
    .buttonArea{
      display: flex;
      flex-direction: row;
      align-items:center;
      justify-content: center;
      border-radius: 200px;
      background-color: #000451;
      margin: 10px 30px;
      height: 50px;
      margin-top: 30px;
      @media(max-width: 600px){
        margin: 10px 20px;
        height: 35px;
      }
      .inputTitle{
        flex:1;
        text-align: center;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        margin-left: 30px;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        margin-right: 5px;
        @media(max-width: 600px){
          font-size: 11px;
          padding-top: 6px;
        }
      }
      .inputBox{
        flex:3;
        height: 50px;
        margin-right: 5px;
        justify-content: flex-start;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        text-align: left;
        @media(max-width: 600px){
          font-size: 11px;
        }
      }
      .button{
        flex:4;
        width: 100%;
        height: 50px;
        justify-content: flex-start;
        color: #FFFFFF;
        border-radius: 30px;
        background-color: #e013cf;
        font-size: 18px;
        font-weight: bold;
        padding-top: 10px;
        text-align: center;
        cursor: pointer;
        @media(max-width: 600px){
          height: 35px;
          font-size: 12px;
          padding-top: 8px;
          font-weight: 500;
        }
      }
    }
    .comment{
      font-size: 9px;
      font-weight: 500;
      align-items: center;
      justify-content: center;
      display: flex;
      color: rgba(21, 20, 57, 0.4);
    }
  }
  
}
.title{
  color:rgba(21, 20, 57, 0.4);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 10px;
  @media(max-width: 600px){
    font-size: 7px;
    margin-bottom: 5px;
  }
}
.value{
  color: #151439;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  @media(max-width: 600px){
    font-size: 7px;
    margin-bottom: 0px;
  }
}
.modalContent{
  @media(max-width: 600px){
    width: calc(100vw - 20px)!important;
    padding: 20px;
    padding-bottom: 30px; 
    top: 50px;
  }
}