@import 'base.scss';

.balances {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @media (max-width: $drawOpenMaxWidth) {
    width: 90%;
  }
  &:first-child{
    @media (max-width: $drawOpenMaxWidth) {
      display: none;
      // flex-direction: column;
    }
  }
  &:not(:first-child){
    display: none;
    @media (max-width: $drawOpenMaxWidth) {
      display: flex;
      flex-direction: column;
      flex-direction: column-reverse;
      margin-bottom: 50px;
    }    
  }
  &>* {
    padding: 0 40px;
  }
  &>*:not(:first-child) {
    border-left: 1px solid #BFBFBF55;
  }
  &>*:not(:last-child) {
    border-right: 1px solid #BFBFBF55;
  }
}