@import 'base.scss';

.verficationExplorer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    @media (max-width: $drawOpenMaxWidth) {
        margin-top: 20px;
    }

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }

        .verificationTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .uploadarea{
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            margin-top: 50px;
            justify-content: space-between;
            @media (max-width:700px){
                flex-direction: column;
                align-items: center;
            }
            

            .certification{
                border: 1px solid #BFBFBF;
                box-sizing: border-box;
                border-radius: 16.8116px;
                height: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 50px;
                margin-right: 50px;
                width: 50%;
                cursor: pointer;
                @media (max-width: 900px) {
                    height: 200px;
                }
                @media (max-width:700px){
                    justify-content: center;
                    margin-right: 0;
                    margin-bottom: 20px;
                    width: 100%;
                    margin-left: 20px;
                    margin-right: 20px;
                }

                .upload{
                    font-size: 25px;
                    font-weight: 500;
                    color: #262626;
                    width: 100%;
                    padding: 0 20px;
                    @media (max-width: 600px) {
                        font-size: 18px;
                        padding: 0 10px;
                    }
                }
                .uploadComment{
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(21, 20, 57, 0.4);
                }
            }
            .hash{
                border: 1px solid #BFBFBF;
                box-sizing: border-box;
                border-radius: 16.8116px;
                height: 180px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 50px;
                cursor: pointer;
                width: 50%;
                @media (max-width: 900px) {
                    height: 200px;
                }
                @media (max-width:700px){
                    justify-content: center;
                    width: 100%;
                    margin: 0 20px;
                }

                .upload{
                    font-size: 25px;
                    font-weight: 500;
                    color: #262626;
                    width: 100%;
                    padding: 0 10px;
                    @media (max-width: 600px) {
                        font-size: 18px;
                        padding: 0 10px;
                    }
                }
                .uploadComment{
                    font-size: 18px;
                    font-weight: 500;
                    color: rgba(21, 20, 57, 0.4);
                }
            }
        }
        .transactionarea{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width:700px){
                flex-direction: column;
            }

            .transactionId{
                display: flex;
                flex-direction: column;
                width: 100%;
                @media (max-width:700px){
                    width: 100%;
                    margin-bottom: 40px;
                }
                .inputValue{
                    width: 100%;
                }
            }
            .fileHash{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-left: 40px;
                @media (max-width:700px){
                    width: 100%;
                    margin-left: 0;
                }
                .inputValue{
                    width: 100%;
                }
            }
        }
        .reference{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: left;
            margin-top: 30px;

            .inputValue{
                width: 100%;
            }

        }
        .confirmarea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            margin-bottom: 50px;
            @media (max-width: 650px) {
                margin-top: 20px;
            }

            .button{
                width: 350px;
                margin-bottom: 10px;
                @media (max-width: 650px) {
                    width: 200px;
                }
                @media (max-width: 250px) {
                    width: 160px;
                }
            }
            .subcomment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
        .explorerListWrapper {
            display: flex;
            flex-direction: column;
            .openSearchForm {
              padding: 10px;
              margin-bottom: 10px;
              background-color: $primary;
              color: white;
              font-weight: bold;
              font-size: 14px;
            }
            .proofArea{
                display: flex;
                flex-direction: column;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
                border-radius: 16.8116px;
                margin: 0 5px;
                margin-bottom: 50px;
                padding-bottom: 30px;
                align-items: center;
                width: 100%;
                max-width: 1000px;
                @media (max-width: 1000px){
                    width: calc(100% - 100px);
                }
                @media (max-width: 800px){
                    width: calc(100% - 100px);
                }
                @media (max-width: 600px){
                    width: calc(100% - 30px);
                    height: 250px;
                }
                @media (max-width: 450px) {
                    height: 300px;
                }
                @media (max-width: 350px) {
                    height: 320px;
                }
                .mainArea{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 1000px;
                    width: 100%;
                    padding: 0 40px;
                    margin-bottom: 40px;
                    .titleBar {
                      display: flex;
                      flex-direction: row;
                      align-items: center;
                      justify-content: space-between;
                      .title{
                        font-size: 25px;
                        font-weight: 500;
                        color: #141414;
                        text-align: left;
                        margin-bottom: 10px;
                        @media (max-width:600px){
                            margin-bottom: 10px;
                            font-size: 14px;
                          }
                      }
                      .view {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        font-size: 17.2px;
                        font-weight: 500;
                        color: rgba(0, 4, 81, 0.7);
                        @media (max-width:600px){
                        font-size: 13px;
                        }
                        .icon{
                          width: 26px;
                          height: 26px;
                          margin-left: 20px;
                        }
                      }
                    }
                    .line{
                        border: 1px solid rgba(0, 0, 0, 0.8);
                        margin-bottom: 20px;
                    }
                    .certification{
                      display: flex;
                      flex-direction: row;

                      .fileIcon{
                        margin-top: 5px;
                        width: 22px;
                        height: 22px;
                        @media (max-width:600px){
                          margin-left: 5px;
                        }
                      }
                      .main{
                        display: flex;
                        flex-direction: column;
                        width: 100%;;
                        .timeArea{
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          align-items: center;
                          margin-bottom: 10px;
                          width: 100%;
                          .time{
                            margin-left: 50px;
                            font-size: 15px;
                            font-weight: 500;
                          }
                          .iconArea{
                              display: flex;
                              flex-direction: row;
                              justify-content: space-between;
                              align-items: flex-end;
                              @media (max-width:630px){
                                margin-top: 5px;
                                margin-bottom: 5px;
                                justify-content: flex-start;
                              }
                              .action{
                                color: #FE006C;
                                margin-left: 30px;
                                cursor: pointer;
                                @media (max-width:600px){
                                    margin-left: 10px;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                                @media (max-width:400px){
                                    margin-left: 5px;
                                    margin-top: 0px;
                                    width: 20px;
                                    height: 20px;
                                }
                              }
                            }
                        }
                        .dataArea{
                          display: flex;
                          flex-direction: row;
                          justify-content: space-between;
                          margin-left: 50px;
                          .certData{
                            font-size: 15px;
                            text-align: left;
                            word-wrap: break-word;
                            word-break: break-all;
                          }
                        }
                        .qrArea{
                          display: flex;
                          flex-direction: column;
                          justify-content: flex-end;
                          font-size: 17px;
                          font-weight: 500;
                          text-align: right;
                          .qr{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-end;
                            align-items: flex-end;
                            opacity: 0.6;
                            width: 100%;
                          }
                        }
                      }
                    }
                }
                .explorerList {
                  width: 100%;
                  padding: 5px 50px;
                    .item {
                      background-repeat: no-repeat;
                      background-position: center;
                      background-size: cover;
                      width: auto;
                      height: auto;
                      min-height: 600px;
                      display: flex;
                      flex-direction: column;
              
                      margin-bottom: 25px;
                      padding: 20px 5px;
                      font-size: 18px;
                      word-break: break-all;
              
                      position: relative;
                      padding-left: 17rem;

                      .header{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        padding-right: 1rem;
                        .qr {
                          opacity: 0.6;
                        }
                      }
                      .titleArea{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        line-height: 45px;
                      }
                      .dataArea{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 16px;
                        font-weight: 700;
                        margin-top: 10px;
                        margin-bottom: 30px;
                        line-height: 25px;
                      }
                      .footer{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        padding-right: 120px;
                        font-size: 14px;
                        font-weight: 700;
                      }
                      .status {
                        background-color: red;
                        color: white;
                        font-size: 20px;
                        margin-right: 10px;
                        padding: 0 5px;
              
                        position: absolute;
                        right: 35px;
                        top: 25px;
                      }
                    }
                }
            }
            
          }
    }
}

.inputTitle{
    font-size: 18px;
    font-weight: 500;
    color: rgba(21, 20, 57, 0.4);
    justify-content: left;
    margin: 0;
}
.inputValue{
    font-size: 18px;
    font-weight: 500;
    color: #151439;
    @media (max-width: 700px) {
        font-size: 18px;

    }
}
.feeTitle{
    font-size: 18px;
    font-weight: 500;
    color:#686868;
    @media (max-width: 300px) {
        font-size: 14px;

    }
}
.fee{
    font-size: 18px;
    font-weight: 700;
    color:#686868;
    padding-left: 5px;
    @media (max-width: 300px) {
        font-size: 14px;
    }
}