@import 'base.scss';

.repay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container{
    max-width: 1000px;
    width: 100%;
    margin: 0 15px;
    @media (max-width: $drawOpenMaxWidth) {
        max-width: 100%;
        padding: 0 20px;
    }

    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .depositTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .totalStaked{
            display: flex;
            flex-direction: row;
            font-size: 18px;
            font-weight: 500;
            color: rgba(0, 4, 81, 0.7);
            
        }
    }
    .border{
        margin-bottom: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
    }
    .repayLoan{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 35px;
      margin-bottom: 20px;
      @media (max-width: 600px) {
          flex-direction: column;
          &>*:not(:first-child) {
              border-left: 0;
          }
      }
      .asset{
          flex: 7;
          display: flex;
          flex-direction: column;
          
          .inputValue{
              font-size: 18px;
              width: 90%;
              @media (max-width: 600px) {
                  width: 100%;
              }
          }
      }
      .amount{
          flex: 3;
          display: flex;
          flex-direction: column;
          padding-left: 50px;
          @media (max-width: 600px) {
              margin-top: 20px;
              padding-left: 0;
          }

          .inputValue{
              font-size: 18px;
          }
      }
    }
    .comment{
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 100px;
    }
    .buttonArea{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .continueButton {
        width: 270px;
      }
    }
  }
}