@import 'base.scss';

.mutualCertification{
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  width: 100%;

  .fileIcon{
    margin-top: 5px;
    width: 22px;
    height: 22px;
  }
  .dataArea{
    flex: 9;
    display: flex;
    flex-direction: column;
    .timestampArea{
        display: flex;
        flex-direction: row;
        @media (max-width:620px){
          flex-direction: column;
        }
        .info{
            flex: 8;
            align-items: flex-start;
            text-align: left;
            margin-left: 30px;
            margin-right: 300px;
            color: #000451;
            font-size: 15px;
            font-weight: 500;
            @media (max-width:1000px){
                margin-right: 100px;
            }
            @media (max-width:900px){
                word-break: break-all;
                margin-right: 10px;
                margin-left: 10px;
            }
            @media (max-width:600px){
                flex:6;
                word-break: break-all;
                margin-right: 0;
                margin-left: 5px;
                font-size: 12px;
                margin-right: 10px;
            }
            @media (max-width:360px){
                font-size: 11px;
            }
        }
        .actions{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width:630px){
              margin-top: 5px;
              margin-bottom: 5px;
              justify-content: flex-start;
          }
            .action{
              color: #FE006C;
              margin-left: 10px ;
              @media (max-width:600px){
                  margin-left: 10px;
                  margin-top: 10px;
                  margin-bottom: 10px;
              }
              @media (max-width:400px){
                  margin-left: 5px;
                  margin-top: 0px;
                  width: 20px;
                  height: 20px;
              }
          }
        }
    }
    .references{
        align-items: flex-start;
        text-align: left;
        margin-left: 30px;
        margin-right: 300px;
        color: #000451;
        font-size: 15px;
        font-weight: 500;
        width: calc(100% - 20px);
        @media (max-width:1000px){
            margin-right: 100px;
        }
        @media (max-width:900px){
            word-break: break-all;
            margin-right: 10px;
            margin-left: 10px;
        }
        @media (max-width:620px){
            flex:6;
            word-break: break-all;
            margin-right: 0;
            margin-left: 5px;
            font-size: 12px;
        }
        @media (max-width:360px){
            font-size: 11px;
        }
    }  
  }
}
.message {
  margin-top: 5px;
  padding: 10px 15px;
  text-align: left;
  font-size: 14px;

  display: flex;
  flex-direction: column;

  &>div {
    text-align: center;
    margin: 5px 0;
  }

  .signLink {
    margin-bottom: 10px;
  }
  .counterparts_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .counterparts {
    &>div {
      width: 50%;
      display: inline-block;
      margin: 5px 0;
    }
    .signStatus {
      border-radius: 5px;
      padding: 5px 10px;
    }
    .signed {
      background-color: #3ead1a;
      color: white;
    }
    .sign {
      background-color: #D359A6;
      color: white;
      font-weight: bold;
    }
    .pending {
      background-color: #ccc;
    }
  }
}