@import 'base.scss';

.footer {
  background: #000451;
  padding: 50px 100px;
  @media (max-width: $drawOpenMaxWidth) {
    padding: 10px 15px;
  }
  @media (max-width: 400px) {
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: justify;
    margin-bottom: 80px;
    @media (max-width: $drawOpenMaxWidth) {
      margin-bottom: 10px;
    }
    @media (max-width: 400px) {
      padding: 40px 20px;
      font-size: 10px;
      text-align: center;
    }

    &>a {
      color: #FE006C;
    }
  }
  .logoNlink {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (max-width: $drawOpenMaxWidth) {
      display: none;
    }
    @media (max-width: 400px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: block;
      font-size: 13px;
    }
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      @media(max-width: 400px){
        margin-bottom: 40px;
      }
    }
    .links {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      @media(max-width: 400px){
        font-size: 13px;
      }
      a {
        font-size: 16px;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 400px){
          font-size: 12px;
        }
      }
    }
  }
  .border {
    border-top-width: 2px;
    margin-bottom: 50px;
    @media (max-width: $drawOpenMaxWidth) {
      margin-bottom: 10px;
    }
    @media (max-width: 400px){
      border: 1px solid #FFFFFF;
    }
  }
  .linkNinfo {
    font-size: 16px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media(max-width: 400px){
      font-size: 11px;
      padding: 0 30px;
    }
    
    @media (max-width: $drawOpenMaxWidth) {
      flex-direction: column;
    }

    .links {
      a:not(:last-child) {
        margin-right: 15px;
        @media(max-width: 400px){
          font-size: 13px;
        }
      }
    }
  }
}