@import 'base.scss';

.create{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

    .container{
        max-width: 1000px;
        width: 100%;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }
        .nftType{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            margin-bottom: 30px;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 60px;
            @media(max-width: 600px){
                background-color: #FE006C;
                margin-left: -20px;
                margin-right: -40px;
                display: flex;
                width: calc(100% + 40px);
            }
            .enabledNFT{
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                color: #000451;
                border: 1px solid #FE006C;
                border-radius: 10px;
                padding: 10px 30px;
                margin: 0 5px;
                cursor: pointer;
                @media(max-width: 600px){
                    color: white!important;
                    margin: 0;
                    padding: 10px 30px;
                }
            }
        }
        .certifyTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
            @media (max-width: 600px){
                font-size: 18px;
                letter-spacing: -1px;
            }
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .dropzone{
            border: 1px solid #BFBFBF;
            box-sizing: border-box;
            border-radius: 16.8116px;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            cursor: pointer;
            @media (max-width: 600px) {
                border: 0px;
                height: 200px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding-top: 30px;
            }

            .upload{
                font-size: 25px;
                font-weight: 500;
                color: #262626;
                @media (max-width: 600px) {
                    padding: 20px 0px;
                    font-style: normal;
                    font-size: 15px;
                }
            }
            .uploadComment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
                @media (max-width: 600px) {
                    font-size: 15px;
                }
            }
        }
        .datasarea{
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            justify-content: space-between;
            @media (max-width: 600px){
                flex-direction: column;
            }

            .assetData{
                flex:3.5;
                display: flex;
                flex-direction: column;
                
                .inputarea{
                    margin-right: 20px;
                    @media (max-width: 600px){
                        margin-right: 0;
                    }
                }
                .messagezone{
                    border-top: 1px solid rgba(0,0,0,0);
                    border-bottom: 1px solid #BFBFBF;
                    border-left: 0;
                    border-right: 0;
                    border-radius: 0;
                    height: 130px;
                    margin-top: 5px;
                    font-size: 18px;
                    font-weight: 500;
                    @media(max-width: 600px){
                        height: 80px;
                    }
                }
            }

            .assetIds{
                flex: 3.5;
                display: flex;
                flex-direction: column;
                
                .inputarea{
                   margin-right: 20px;
                    @media (max-width: 600px){
                        margin-right: 20px;
                    }
                    .content{
                        max-width: 90%;
                    }
                    .question {
                    color: white;
                    font-size: 10px;
                    border-radius: 7px;
                    height: 14px;
                    font-weight: bold;
                    cursor: pointer;
                    margin: 0px 0px 0px 10px;
                    padding: 0 5px;
                    }
                    .submenu {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background: rgba(0, 4, 81, 0.4);
                        border: 1px solid rgba(255, 255, 255, 0.3);
                        box-sizing: border-box;
                        backdrop-filter: blur(3px);
                        .subitem {
                            padding: 10px 15px;
                            text-align: left;
                            font-size: 14px;
                            font-weight: 500;
                            color: white;
                            cursor: pointer;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            @media(max-width: $mobileWidth){
                            font-size: 9px;
                            }
                        }
                        .auctionContent{
                            width: 250px;
                            backdrop-filter: blur(5px);
                            margin-left: 60px;
                        }
                    }
                }
                
            }
            .auctionDatas{
                flex: 3;
                display: flex;
                flex-direction: column;
            }
        }
        .feearea{
            display: flex;
            flex-direction: row;
            margin-top: 80px;
            justify-content: center;
            @media (max-width: 600px) {
                flex-direction: column;
                flex-direction: column-reverse;
                margin-top: 70px;
            }

            .certification{
                flex:5;
                display: flex;
                flex-direction: row;
                align-items: right;
                place-content: flex-end;
                margin-right: 50px;
                @media (max-width:600px) {
                    margin-right: 0px;
                }
                @media (max-width:550px) {
                    justify-content: center;
                }
            }
            .transaction{
                flex:5;
                display: flex;
                flex-direction: row;
                @media (max-width:550px) {
                    justify-content: center;
                }
            }
        }
        .confirmarea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            @media (max-width: 600px) {
                margin-top: 0px;
                flex-direction: column-reverse;
            }
            .button{
                width: 350px;
                margin-bottom: 10px;
                @media (max-width: 600px) {
                    width: 250px;
                    font-size: 14px;
                    padding: 8px;
                }
                @media (max-width: 250px) {
                    width: 160px;
                }
            }
            .subcomment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
                @media (max-width:600px){
                    color: rgba(21, 20, 57, 0.4);
                    font-size: 14px;
                    margin-bottom: 30px;
                }
            }
        }
    }
    .inputarea{
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .inputTitle{
            display: flex;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            color: rgba(21, 20, 57, 0.4);
            margin-bottom: 0;
            @media(max-width: 600px){
                font-size: 12px;
            }
        }
        .inputValue{
            font-size: 18px;
            font-weight: 500;
            color: #151439;
        }
    }
}
.feeTitle{
    font-size: 18px;
    font-weight: 500;
    color:#686868;
    @media (max-width: 600px){
        color: rgba(21, 20, 57, 0.4);
        font-size: 12px;
    }
}
.fee{
    font-size: 18px;
    font-weight: 700;
    color:#686868;
    padding-left: 5px;
    @media (max-width: 600px){
        color: rgba(21, 20, 57, 0.4);
        font-size: 12px;
    }
}