@import "styles";

.wrapper {
  max-width: 1000px;
  padding: 20px;
  .header {
    color: white;
    @media(max-width: $mobileClose) {
      display: none;
    }
    margin-bottom: 30px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobileClose) {
      flex-direction: column;
      .item {
        margin: 15px 0;
      }
    }
    @media (min-width: $desktopOpen) {
      flex-direction: row;
      .item {
        margin: 0 15px;
      }
    }
    .item {
      flex: 1;
      background-color: white;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .itemMain {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgWrapper {
          padding: 10px;
          border-radius: 10px;
          margin-bottom: 25px;
          img {
            margin: auto;
            width: 50%;
          }
        }
        .stepText {
          font-weight: bold;
        }
        .stepTitle {
          font-weight: bold;
          font-size: 20px;
        }
        .stepDescription {
          font-size: 15px;
          font-weight: 500;
          margin: 20px 0px;
          .boldText {
            color: $primary;
            font-size: 16px;
            font-weight: bold;
          }
        }
      }
      button, a {
        background-color: $primary;
        color: white;
      }
      .switchAccount {
        margin-top: 15px;
      }
    }
    .blur {
      opacity: 0.5;
    }
  }
  .bottomText {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    .text {
      font-size: 14px;
      font-weight: 400;
      .primaryText {
        color: $primary;
      }
    }
  }
}