@import 'base.scss';

.main {
  .header {
    font-size: 58px;
    font-weight: 700;
    color: #1E0E62;
    line-height: 58px;
    margin-bottom: 30px;
  }
  .subheader {
    font-size: 22px;
    font-weight: 500;
    color: #15143966;
    margin-bottom: 60px;
  }
  .startnow {
    .start {
      font-size: 20px;
      font-weight: 500;
      padding: 7px 60px;
    }
    margin-bottom: 100px;
  }
}