@import 'base.scss';

.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    @media (max-width: 600px) {
        margin-bottom: 30px;
    }

    .container{
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }

        .certifyTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            margin-bottom: 20px;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
        .certifyContainer{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @media (max-width: 600px) {
                flex-direction: column;
            }
            .fromContainer{
                flex: 5;
                display: flex;
                flex-direction: column;
                padding-right: 50px;
                @media (max-width: 600px) {
                    padding-right: 0;
                }
                .from{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    
                }
                .firstName{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
                .lastName{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
            }
            .toContainer{
                flex: 5;
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                @media (max-width: 600px) {
                    padding-left: 0;
                }

                .server{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
                .reference{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
                .to{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                }
            }   
        }
        .customContainer{
            display: flex;
            flex-direction: column;

            .serverArea{
                display:flex;
                flex-direction: row;
                margin-bottom: 30px;
                .server{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    margin-right: 50px;
                }
                .port{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    margin-left: 50px;
                }
            }
            .userArea{
                display:flex;
                flex-direction: row;
                margin-bottom: 30px;

                .userId{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    margin-right: 50px;
                }
                .userPassword{
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    margin-left: 50px;
                }
            }
        }
        .subDatas{
            display: flex;
            flex-direction: column;

            .inputTitle{
                @media (max-width: 450px) {
                    font-size: 12px;
                }
            }
            .message{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                
               
                .upload{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .paperClip{
                        cursor: pointer;
                    }
                }
            }
            .messagezone{
                border-top: 1px solid #BFBFBF;
                border-bottom: 1px solid #BFBFBF;
                border-left: 0;
                border-right: 0;
                border-radius: 0;
                height: 150px;
                margin-top: 5px;
            }
            .messageComment{
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                margin-top: 10px;

                .subcomment{
                    font-size: 16px;
                    font-weight: 500;
                    text-align: justify;
                    color: rgba(21, 20, 57, 0.4);
                }
            }
        }
        .feearea{
            display: flex;
            flex-direction: row;
            margin-top: 80px;
            justify-content: center;
            @media (max-width: 600px) {
                flex-direction: column;
                margin-top: 30px;

            }

            .certification{
                display: flex;
                flex-direction: row;
                align-items: right;
                place-content: flex-end;
                margin-right: 50px;
                @media (max-width: 600px) {
                    margin-right: 0;
                    justify-content: center;
                }
            }
            .transaction{
                display: flex;
                flex-direction: row;
                @media (max-width: 600px) {
                    justify-content: center;
                }
            }
        }
        .confirmarea{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            @media (max-width: 800px) {
                margin-top: 20px;
             }

            .button{
                width: 350px;
                margin-bottom: 10px;
                @media (max-width: 500px) {
                    width: 200px;
                }
            }
            .subcomment{
                font-size: 18px;
                font-weight: 500;
                color: rgba(21, 20, 57, 0.4);
            }
        }
    }
    .inputTitle{
        margin-bottom: 0;
        font-size: 18px;
    }
    .inputValue{
        font-size: 18px;
        width: 100%;
    }
    .emailCerts{
        display: flex;
        flex-direction: row;
        width: calc(100vw - 20px);
        justify-content: center;
        margin-top: 50px;
    }
    .titlearea{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 1000px;
        width: 100%;
        margin: 0 15px;
        margin-top: 30px;
        @media (max-width: $drawOpenMaxWidth) {
            max-width: 100%;
            padding: 0 20px;
        }

        .explorerTitle{
            color: #1E0E62;
            font-size: 30px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 5px;
        }
        .border{
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.8);
        }
    }
    
}
.feeTitle{
    font-size: 18px;
    font-weight: 500;
    color:#686868;
    @media (max-width: 300px) {
        font-size: 14px;

    }
}
.fee{
    font-size: 18px;
    font-weight: 700;
    color:#686868;
    padding-left: 5px;
    @media (max-width: 300px) {
        font-size: 14px;
    }
}