@import "styles";

.wrapper {
  max-width: 1000px;
  padding: 20px; 
  .header {
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
    position: relative;
    .openIcon {
      font-size: 25px;
      position: absolute;
      right: 5px;
      top: 3px;
    }
  }
  .subheader {
    font-size: 16px;
    text-align: left;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .transferForm {
      color: white;
    }
    span {
      flex: 1;
    }
  }
  .container {
    margin-bottom: 30px;
    .info {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      @media (max-width: $mobileClose) {
        flex-direction: column;
      }
      .addressArea {
        flex: 7;
        @media (max-width: $mobileClose) {
          flex: inherit;
        }
        display: flex;
        flex-direction: row;
        .user {
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .address {
          flex: 1;
          background-color: white;
          border-style: dotted;
          border-width: 1px;
          outline: none;
          padding: 0 10px;
        }
      }
      .amountArea {
        flex: 3;
        margin-left: 30px;

        display: flex;
        align-items: center;
        @media (max-width: $mobileClose) {
          flex: inherit;
          margin-left: 0;
          margin-top: 15px;
        }
        .amount {
          border-style: dotted;
          border-width: 1px;
          outline: none;
          padding: 0 10px;
          height: 100%;
          margin-right: 10px;
          flex: 1;
          padding: 10px;
        }
      }
    }
    .commentArea {
      text-align: left;
      margin-bottom: 15px;
      .comment {
        width: 100%;
        border-style: dotted;
        border-width: 1px;
        outline: none;
        padding: 10px;
      }
    }
    .buttonArea {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media (max-width: $mobileClose) {
        // flex-direction: column;
      }
      .lock {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        @media (max-width: $mobileClose) {
          display: none;
        }
      }
      .description {
        flex: 1;
        font-size: 14px;
        margin-right: 15px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: $mobileClose) {
          display: none;
        }
      }
      .feeArea {
        font-size: 14px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .transfer {
        color: white;
        padding: 27px;
        margin: auto 0 auto 15px;
      }
    }
  }
  .cursor {
    cursor: pointer;
  }
}
