@import 'base.scss';

.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 10px;
  @media (max-width: 600px) {
    padding-top: 30px;
  }
  .prices {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 30px;
    justify-content: space-between;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .overviewHeader{
      font-size: 58px;
      font-weight: 700;
      color: #1E0E62;
      margin-bottom: 30px;
      @media (max-width: 600px) {
        font-size: 30px;
        letter-spacing: -1px
      }
  }
  .overviewBody{
      font-size: 18px;
      font-weight: 500;
      max-width: 600px;
      width: 100%;
      text-align: center;
      color: #15143966;
      justify-content: space-between;
      margin-bottom: 50px;
      @media (max-width: 600px) {
        font-size: 12px;
        padding: 0 20px 0 20px;
      }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    margin-bottom: 50px;
    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
    }
    .button {
      margin-top: 20px;
      margin-left: 10px;
      width: 100%;
      @media (max-width: 600px) {
        width: 70%;
        margin: 9px 0;
        font-size:14px;
      }
    }
  }
  .transactionList{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 20px);
    max-width: 1200px;
    justify-content: center;
    margin-top: 50px;
}
}