@import 'base.scss';

.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    padding: 0 10px;

  .overviewHeader{
      font-size: 58px;
      font-weight: 700;
      color: #1E0E62;
      margin-bottom: 30px;
  }
  .overviewBody{
      font-size: 18px;
      font-weight: 500;
      max-width: 630px;
      width: 100%;
      text-align: center;
      color: #15143966;
      justify-content: space-between;
      margin-bottom: 50px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 630px;
    width: 100%;
    margin-bottom: 50px;
    @media (max-width: 630px) {
      flex-direction: column;
    }
    .button {
      margin-top: 20px;
      margin-left: 10px;
      width: 100%;
      @media (max-width: 630px) {
        margin: 5px 0;
      }
    }
  }
}